body{
    margin: 0%;
    width: 100%;
   /* background-color: #EAEBEF; */
}

#connect{
    margin-top: 40px;
}

table{
    border-collapse: separate;
    border-spacing: 3px;
}


#create {
    margin-top: 10px;
}
#email-textbox{
    height: 25px;
}

#password-textbox{
    height: 25px;
    margin-left: 10px;
}
#Email {
    color: white;
}
#password1{
    color: white;
}
#login{
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    background-color: #4267b2;
    border: 1px solid #29487d;
    height: 25px;
    margin-left: 10px;
}

#login-word{
    color: white;
}
#middleDiv{
    background-color: #eaebef;
    
}

#last-name{
    margin-left: 20px
}

#email{
    margin: 15px 0px 10px 0px ;
}

#password2{
    margin-bottom: 30px;
}

#facebook-logo{
    
    margin-top: 30px;
    color: white;
    font-size: 40px;
    margin-left: 50px;
    font-weight: 600 ;
    

}

#forgot{
    color: #9cb4db;
    
}

#first-name{
    width: 48%;
    padding-bottom: 10px;
}

#last-name{
    width: 47%;
}
#navb{
background-color: #3D5A99;


width: 100%;
}

#connect{
    padding-top: 20px;
};

#create{
    padding: 10px;
};

#day{
    height: 20px;
}

#signUp{
    width: 200px;
    margin-top: 10px;

    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    
    
}


#lowerDiv{
    background-color: white;
    /* width: 80%; */
    margin: 0 8%;
};

#footer{
    /* padding: 0 50px; */
    width: 80%;
}