
body{
	margin: 0px;
	padding: 0px;
	background-color: #EAEBEF;
}
h3{
	color: #fff;
	position: relative;
    left: 150px;
    font-size: 35px;

}
h6{
	color: blue;
	font-size: 15px;
	margin-left: 1010px;
	margin-top: -10px;
}
.main{
	height:75px; width: 100%
}
.upper{
	margin:0px;
	padding: 0px;
	background-color: #3b5998;
	height:75px; 
	width: 120%
    background-color: #4267b2;
    height: 80px;
}

#lower{
	background-color: #fff;
	position: absolute;
	top:590px;
	right:0px;

}
.right{
	margin-left: 800px;
	margin-top: -300px;
}

.top{
	margin-top: 5px;
    display: inline-block;
    /*grid-template-columns: 33% 33% 33%;*/
    color: white;

}
.top label{
	font-family: Helvetica;
    font-size: 12px;
    text-align: right;
    margin: 8px;
    width: 1000px;
   margin: 0 0px 10px 0;
    
}

.email{
	margin-left: -200px;
	margin-top: -20px;
}
.password{
	margin-left: 20px;
	margin-top: -32px;

}

.submit{
	margin-left: 200px;
	margin-top: -63px;
}
/*
.email input[type="text"]
{
	margin-top: 100px;
}*/
.top input[type="text"], .top input[type="password"] {
    height: 23px;
    border: 1px solid black;
    padding: 2px;
}

.top input[type="submit"]{
	background-color: rgb(66,103,178);
    margin: 15px;
    height: 23px;
    width: 70px;
    padding: 0px;
	font-weight: bold;
	color: white;
	border-radius: 4px;
   border: 1px solid rgb(66,103,178)}
p{
	text-align: right;
}

.left{
    /*margin-left: 20%;
    margin-right: 30%;*/
    margin-left: 150px;
    margin-top: 50px;
}
h4{
	color: black;
}
p{
	color: black;
    margin-top: -320px;
    text-align: right;
	
}

h2{
	color: black;
	
}

.footer{
	margin-left: 100px;

}
.createacc{
	color:black;
	font-size: 38px;
    
}
.free{
	font-size: 20px;
}

.formbox input[type="text"]{
	font-size: 20px;
	padding: 3px;
	margin: 3px;
	border-radius: 4px;
	border:1px solid teal;
}

.formbox1{
	padding: 3px;
	margin: 3px;
}
.sex input[type="radio"]{
	padding: 3px;
	margin: 3px;
}

.formbox4 input[type="submit"]
{
	background-color: rgb(96,157,77);
	padding: 4px;
	width: 140px;
	font-weight: bold;
	color: white;
	margin: 20px;
	border-radius: 4px;
}
